#edit-slug-box, 
.updated.notice.notice-success.is-dismissible p a {
    display:none;
}
#copy-shortcode{
    margin-left:10px;
    border-radius:4px;
    padding:5px;
    background-color: #0085BA;
    color:#fff;
}
#copy-shortcode:hover{
    cursor:pointer;
}
.lqh_mul_votes_text,
.lqh_mul_votes_val{
  height:40px;
  min-width:40px;
  border:none;
  padding:5px;
  border-radius:4px;
  color:#fff;
  font-size:1.5em;
}
.lqh_mul_votes_text:hover{
  cursor:pointer;
}
.lqh_mul_votes_val{
  background-color:#0085BA;
}
.lqh_mul_votes_text{
  background-color:#E80C7A;
}
.lqh_mul_votes_text[disabled]:hover{
  height:40px;
  min-width:40px;
  border:none;
  padding:5px;
  border-radius:4px;
  color:#fff;
  font-size:1.5em; 
}